/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-vietnamese.woff2) format('woff2');
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-italic-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-vietnamese.woff2) format('woff2');
  unicode-range:
    U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/libre-franklin-100-900-normal-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-italic-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-italic-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-normal-latin-ext.woff2) format('woff2');
  unicode-range:
    U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/azaret-mono-100-900-normal-latin.woff2) format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-bg: black;
  --color-primary: #d01f26;
  --color-secondary: #542bab;
  --color-secondary-dark: #1f1731;
  --color-text: white;
  --font-display: Azeret Mono, sans-serif;
  --font-body: Libre Franklin, sans-serif;
  --font-monospace: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, monospace;
  --border-radius: 0.3rem;
}
* {
  box-sizing: border-box;
  font-family: var(--font-body);
}
[hidden] {
  /* We never want anything to have higher specificity than `[hidden]`. */
  display: none !important;
}
html {
  min-height: 100vh;
  background:
    radial-gradient(circle, transparent, transparent 30%, #00000022 50%, var(--color-bg)),
    url(/images/stars.svg) repeat left top/1100px,
    var(--color-bg);
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-text);
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.5em;
}
p {
  margin: 1rem 0;
}
p:first-child, ul:first-child, ol:first-child {
  margin-top: 0;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}
input, button {
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
}
button, input[type="submit"] {
  color: white;
  background: var(--color-primary);
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  @media (max-width: 800px) {
    flex-direction: column;
    input {
      width: 100%;
    }
  }
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 960px;
  &.container--narrow {
    max-width: 600px;
  }
  @media (max-width: 800px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.page-wrapper {
  margin-top: 5vh;
  @media (max-width: 800px) {
    margin-top: 7vh;
  }
}
.logo {
  background: linear-gradient(to bottom, transparent, transparent 30%, var(--color-bg));
  img {
    width: 100%;
  }
}
.buttondown-credit {
  display: block;
  margin-top: 0.7rem;
  color: white;
  font-size: 0.7rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  box-shadow: 0 0 60px 30px var(--color-bg);
  background: var(--color-secondary-dark);
  @media (max-width: 800px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h2, p {
    margin: 0;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    @media (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  p {
    font-size: 1rem;
    @media (max-width: 800px) {
      font-size: 0.8rem;
      span.breakable {
        display: block;
      }
    }
  }
  form {
    gap: 2rem;
    input[type="email"] {
      @media (min-width: 801px) {
        min-width: 18rem;
      }
    }
  }
}
